:root {
	--main-font: 'Roboto';
	--main-font-bold: 'Roboto Bold';
	
}	



/********************************/
/****   fonts & Others  *****/
/********************************/
@font-face {
	font-family: "Roboto";
	src: url("fonts/roboto/Roboto-Regular.ttf");
} 	

@font-face {
	font-family: "Roboto Bold";
	src: url("fonts/roboto/Roboto-Bold.ttf");
} 	  


.btn-success{color:#fff;background-color:rgba(255,204,0,0.9);border-color:rgba(255,204,0,0.8);border-width:0px} 
.btn-success:hover{color:#fff;background-color:rgba(174, 185, 175, 0.5);border-color:rgba(255,204,0,1)} 
.btn-success.focus,.btn-success:focus{box-shadow:0 0 0 .2rem rgba(255,204,0,.5)} 
.btn-success.disabled,.btn-success:disabled{color:#fff;background-color:rgba(255,204,0,1);border-color:rgba(255,204,0,1)} 
.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active,.show> 
.btn-success.dropdown-toggle{color:#fff;background-color:rgba(255,204,0,.5);border-color:rgba(255,204,0,.5)} 
.btn-success:not(:disabled):not(.disabled).active:focus, 
.btn-success:not(:disabled):not(.disabled):active:focus,.show> 
.btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(255,204,0,.5)}



/*background-color: #00965d;   RGB 255,204,0*/


		body {
		font-size: 1em;	
		font-family: var(--main-font);
		}
		
		h1, h2 {
			font-family: var(--main-font);
		}
		


		.navbar {
			background-color: rgba(0,0,0,1);
		}




